<div class="container mt-4">

  <div class="row">
    <div class="col-md-3">

      <h3>Controle de Funcionario</h3>
      <p>
        COTI Informática - Projeto Final WebDeveloper FullStack
      </p>

      <div class="d-grid gap-2 mb-1">
        <a href="#" class="btn btn-outline-primary">
          Autenticar Empresa
        </a>
      </div>
      <div class="d-grid gap-2 md-1">
        <a href="#" class="btn btn-autoline-primary">
          Cdastrar Empresa
        </a>
      </div>
      <div class="d-grid gap-2 mb-1">
        <a href="#" class="btn btn-autoline-primary">
          Cadastrar Funcionario
        </a>
      </div>
      <div class="d-grid gap-2 mb-1">
        <a href="#" class="btn btn-autoline-primary">
          Consultar Funcionario
        </a>
      </div>
</div>
<div class="col-md-9">
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>